

/*   Global styles
---------------------------------------------------*/

body {
    font-family: 'EB Garamond', serif;

}

p {
    color:#CD853F;
    font-size:30px;
    font-weight: bold;

}


/* Navigation top banner styles
---------------------------------------------------*/
nav {

}

a , button {
    text-decoration: none; /*remove underline of the link*/
    color:#CD853F;
    font-size:20px;
    font-weight: bold;
    text-transform: initial;
    padding:10px;
    display: inline-block;
}

#logo{
    font-size: 50px;
    font-weight: normal;
    margin-right: 50px;


}

button {
    float:right;
    background-color: #CD853F;
    color:white;
    margin-right: 20px;
    font-family: 'EB Garamond', serif;
}

nav a.active{
    background-color: #CD853F;
    color:white;
}

/* Main page body styles
----------------------------------------------------*/

#reservationform {

    font-size:20px;
    color:#CD853F;
    border:#CD853F 3px solid;
    margin-top: -60px;
    padding:2px;
}

.record{
    color:#CD853F;
    font-size:14px;
}




input[name="s1"],input[name="s2"],input[type="submit"]{
    border:none;
    background-color: #F4A460;
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:20px;

}

/* Footer styles
----------------------------------------------------*/
